<header title="Event Details"></header>
<link href="../bower_components/angular-material/angular-material.css" rel="stylesheet" />
<div ng-controller="EventDetailsController" class="row" layout="column" ng-cloak>
  <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
    <md-tab id="tab1">
        <md-tab-label>Details</md-tab-label>
        <md-tab-body>
          <div ng-include="'../views/events/details.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Menu</md-tab-label>
        <md-tab-body>
          <div ng-include="'../views/events/menu.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Invitees</md-tab-label>
        <md-tab-body>
          <div ng-include="'../views/events/invitees.html'"></div>
        </md-tab-body>
      </md-tab>
  </md-content>       
</div>
