<header title="Upcoming Events"></header>
<link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />
<div ng-controller="EventsController" class="row" layout="column" ng-cloak>
  <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
    <md-tab id="tab1">
        <md-tab-label>UpComing</md-tab-label>
        <md-tab-body>
          <div ng-include="'./views/events/upcoming-events.html'"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Past</md-tab-label>
        <md-tab-body>
          <div ng-include="'./views/events/past-events.html'"></div>
        </md-tab-body>
      </md-tab>
  </md-content>
</div>