<section class="row">
    <section class="col-xs-3 invitees-list">
        <p>Total</p>
        <h1>15</h1>
    </section>
    <section class="col-xs-3 invitees-list">
        <p class="col-grn">Accepted</p>
        <h1>10</h1>
    </section>
    <section class="col-xs-3 invitees-list">
        <p class="col-red">Declined</p>
        <h1>2</h1>
    </section>
    <section class="col-xs-3 invitees-list">
        <p class="col-blu">May be</p>
        <h1>3</h1>
    </section>
</section>
<section class="row pot-details">
    <section class="col-xs-12 p0">
        <section class="col-xs-2">
            <img src="/assets/images/thumbnail.png" width="35" height="35" alt="thumbnail">
        </section>
        <article class="col-xs-7">
            <h3 class="mt0">{{event[0].hostname[0]}}</h3>
            <p class="pot-time col-gry">{{event[0].event_date}} | {{event[0].event_time}}</p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            Host
        </article>
    </section>
</section>
<!--  -->
<section class="row pot-details" ng-repeat="(key, value) in eventInvitees">
    <section class="col-xs-2" >
        <img src="/assets/images/thumbnail.png" width="35" height="35" alt="thumbnail">
    </section>
    <article class="col-xs-7">
        <h3 class="mt0">{{value.email_id}}</h3>
        <p class="pot-time col-gry">Feb 22, 9.15</p>
        <!--<p class="pot-msg col-blu">You</p>-->
    </article>
    <article class="col-xs-3 pot-name col-grn">
        Accepted
    </article>
</section>