<style type="text/css">
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}  
</style>
<section class="container" ng-controller="EventMenuController" class="" id="popupContainer" ng-cloak>
    <section title="click to edit" ng-click="isVisible=!isVisible" class="row pot-details" ng-repeat="menu in eventMenuArray | orderBy:'-created_date'" id="menu_{{menu.rid}}">
        <article class="col-xs-9">
            <h3 class="mt0">{{menu.name}}</h3>
            <p class="col-gry">{{menu.description}}</p>
            <p class="pot-time col-gry">{{menu.created_date}}</p>
            <p class="pot-msg">
                <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="10000" ngf-max-size="1GB">
                    Upload Image</button>
                <img ng-src={{fileInputContent}}>
            </p>
            <ul class="img-preview">
                <li ng-repeat="(key,value) in menu.menuImageDetails">
                    <img ng-click="showImagePreview()" width="35px" height="35px" ng-src="/assets/uploads/{{value.image}}">
                    <span ng-click="deleteImage($event,menu.rid)"><img width="15px" height="15px" src="/assets/images/trash.png"></span>
                </li>
                <div class="clear"></div>
            </ul>
            <div ng-show="isVisible" class="check-element animate-show" id="edit_menu_{{menu.rid}}">
                 <input type="test" ng-model="menu.name">
                 <input type="text" ng-model="menu.description">
                 <button name="Submit" value="Update Menu" ng-click="updateMenu()">Update Menu </button>   
            </div>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            <span ng-if="currentUser.userId == menu.added_by[0]">You</span>
            <span ng-if="currentUser.userId !== menu.added_by[0]">{{menu.user[0]}}</span>
        </article>

    </section>
    <section class="row pot-details" ng-if="eventMenuArray.length == 0">
        <div style="font-weight:bold;margin-top:6%;margin-left:38%">No menu detail</div>
    </section>
</section>