<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div ng-repeat="(key, value) in pastEvents" ng-click="onEventClick()" id="pastEvent_{{value.rid}}">
    <section class="row pot-details">
        <article class="col-xs-9">
            <h3 class="mt0">{{value.name}}</h3>
            <p class="pot-time col-gry">{{value.event_date}} | {{value.event_time}}</p>
            <p class="pot-msg col-blu"><span ng-if="currentUser.userId == value.created_by[0]">Host</span></p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            {{value.hostname[0]}}
        </article>
    </section>
    <section class="row">
        <!-- <button type="button" ng-click="createEvent()" class="btn pop-btn orange primary-btn">Create New Event</button> -->
    </section>
</div>