<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div ng-repeat="(key, value) in events">
	<section class="row pot-details">
            <article class="col-xs-9">
               <h3 class="mt0">{{value.name}}</h3>
               <p class="pot-time col-gry">{{value.event_date}} | {{value.event_time}}</p>
               <p class="pot-msg col-blu">Host</p>
            </article>
            <article class="col-xs-3 pot-name col-gry">
                Sajindas
            </article>
        </section>
</div>	