<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div ng-repeat="(key, value) in upcomingEvents" id="upcominguEvent_{{value.rid}}">
    <section class="row pot-details">
        <article class="col-xs-9" ng-click="onEventClick()">
            <h3 class="mt0">{{value.name}}</h3>
            <p class="pot-time col-gry">{{value.event_date}} | {{value.event_time}}</p>
            <p class="pot-msg col-blu"><span ng-if="currentUser.userId == value.created_by">Host</span></p>
            <p class="pot-msg col-red" ng-if="value.declined_event">You've rejected the invitation</p>
            <p class="pot-msg col-grn" ng-if="value.accepted_event">You've accepted the invitation</p>
            <p class="pot-msg col-blu" ng-if="value.may_be_accepted_event">You may be join the event</p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            {{value.created_user}}
        </article>
        <!-- {{value}} -->
        <section class="col-xs-12 p0 pop-confirm" ng-if="!value.accepted_event && !value.declined_event && !value.may_be_accepted_event && currentUser.userId != value.created_by">
            <ul>
                <li>
                    <input type="button" ng-click="eventAcceptence(1)" value="Yes" class="tertiary-btn">
                </li>
                <li>
                    <input type="button" ng-click="eventAcceptence(2)" value="No" class="tertiary-btn">
                </li>
                <li>
                    <input type="button" ng-click="eventAcceptence(3)" value="May Be" class="tertiary-btn">
                </li>
            </ul> 
        </section>
    </section>

    <section class="row">
        <!-- <button type="button" ng-click="createEvent()" class="btn pop-btn orange primary-btn">Create New Event</button> -->
    </section>
</div>
<section class="row pot-details" ng-if="upcomingEvents.length == 0">
    <div style="font-weight:bold;margin-top:6%;margin-left:38%">No upcoming events</div>
</section>