<header title="Forgot Password"></header>
<section class="container"  ng-controller="ForgotPasswordController">

    <!-- Login form -->
    <section class="row">
        <section class="col-xs-12">
            <form>
                <article class="form-group pot-form-group">
                    <label for="password" class="label-hide">Email Address</label>
                    <input type="email" class="form-control pop-form-control gry-bdr" id="emailAddress" placeholder="Email Address">
                </article>

                <button type="submit" class="btn pop-btn orange">Submit</button>
                <button type="submit" class="btn pop-btn gry">Cancel</button>
            </form>
        </section>
    </section><!-- /Login form -->
</section>