<section class="pop-btn yellow">
    <section class="col-xs-1 back-arrow"><span class=""><a href="/"><img src="./assets/images/arrow.png" width="10" height="17" alt="Back Arrow"></a></span></section>
    <section class="col-xs-9 title-text">Forgot Password</section>
    <section class="col-xs-1 sprite pot-moreover"></section>
</section>

<section class="container"  ng-controller="ForgotPasswordController">

    <!-- Login form -->
    <section class="row">
        <section class="col-xs-12">
            <form>
                <article class="form-group pot-form-group">
                    <label for="password" class="label-hide">Email Address</label>
                    <input type="email" class="form-control pop-form-control gry-bdr" id="emailAddress" placeholder="Email Address">
                </article>

                <button type="submit" class="btn pop-btn orange">Submit</button>
                <button type="submit" class="btn pop-btn gry">Cancel</button>
            </form>
        </section>
    </section><!-- /Login form -->
</section>