 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<div ng-controller="IntroController">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <section class="row l-yellow {{slide.cssName}}">
                    <figure><img ng-src="{{slide.image}}" style="margin:auto;"></figure>
                    <div class="carousel-caption">
                        <article class="title">{{slide.titleText}}</article>
                        <article class="desc">{{slide.subTitle}}</article>
                        <section class="col-xs-12 pagi">
                            <section class="col-xs-3"></section>
                                <section class="col-xs-6">
                                </section>
                            <section class="col-xs-3"></section>
                        </section>
                    </div>
                </section>
            </slide>
        </carousel>
        <section class="row">
        <button type="submit" class="btn pop-btn orange">{{constants.getStarted}}</button>
        </section>
    </div>
</div>