<header title="Sign Up"></header>
<section class="container">
    <section class="row" ng-controller="RegisterController">
        <div ng-show="isError">{{errorMessage}}</div>
        <section class="col-xs-12">
            <form name="userForm" ng-submit="submitForm()" novalidate>
      
        <!-- Name -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }" >
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="1" ng-maxlength="30" placeholder="name" required>
            <p ng-show="userForm.name.$error.minlength" class="help-block">name is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">name is too long.</p>
        </div>
        
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" placeholder="email" class="form-control" ng-model="user.email" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" placeholder="password" class="form-control" ng-model="user.password" required>
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter password.</p>
        </div> 
        <!-- Confirm Password -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine }">
            <label>Password</label>
            <input type="password" name="confirmPassword" placeholder="confirm password" class="form-control" ng-model="user.confirmPassword" required>
            <p ng-show="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine" class="help-block">Enter confirm password.</p>
        </div> 

        <!-- Terms and Condition -->
        <div class="checkbox pot-checkbox">
            <label class="pot-terms">
                <!-- <span class="custom-checkbox"> -->
                <input type="checkbox" name="termsandcondition" class="form-control" ng-model="user.termsandcondition" required>
            <!-- </span>  -->I have read the terms and conditions
            </label>
        </div>      
        
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
        </section>
    </section>
</section>