<header title="Sign Up"></header>
<section class="container">
    <section class="row" ng-controller="RegisterController">
        <section class="col-xs-12">
            <form name="userForm" ng-submit="submitForm()" novalidate>
      
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }" >
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8" placeholder="username" required>
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
        
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email_id.$invalid && !userForm.email_id.$pristine }">
            <label>Email</label>
            <input type="email" name="email_id" placeholder="email" class="form-control" ng-model="user.email_id" required>
            <p ng-show="userForm.email_id.$invalid && !userForm.email_id.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" placeholder="password" class="form-control" ng-model="user.password" required>
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter password.</p>
        </div> 
        <!-- Confirm Password -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine }">
            <label>Password</label>
            <input type="password" name="confirmPassword" placeholder="confirm password" class="form-control" ng-model="user.confirmPassword" required>
            <p ng-show="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine" class="help-block">Enter confirm password.</p>
        </div> 

        <!-- Terms and Condition -->
        <div class="checkbox pot-checkbox">
            <label class="pot-terms">
                <!-- <span class="custom-checkbox"> -->
                <input type="checkbox" name="termsandcondition" class="form-control" ng-model="user.termsandcondition" required>
            <!-- </span>  -->I have read the terms and conditions
            </label>
        </div>      
        
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
        </section>
    </section>
</section>